@keyframes slide {
	0% { transform: translateX(0); }
	12% { transform: translateX(0); }
	13% { transform: translateX(-100%); }
	25% { transform: translateX(-100%); }
	26% { transform: translateX(-200%); }
	37% { transform: translateX(-200%); }
	38% { transform: translateX(-300%); }
	50% { transform: translateX(-300%); }
	51% { transform: translateX(-400%); }
	62% { transform: translateX(-400%); }
	63% { transform: translateX(-500%); }
	75% { transform: translateX(-500%); } 
	76% { transform: translateX(-600%); } 
	87% { transform: translateX(-600%); } 
	88% { transform: translateX(-700%); } 
	100% { transform: translateX(-700%); } 
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.slider {
	position: absolute;
}

.slides {
	position: absolute;
	display: flex;
	overflow: hidden;
	
}

.slide {
	width: 100%;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slide img {
	width: 100%;
	vertical-align: top;
	object-fit: cover;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	opacity: 1;
	animation-name:none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 80;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 0;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 2.5rem;
}

@media only screen and (min-width: 100%) {
	.slide {
		width: 100%;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}

.img{
	object-position:top ;
}