a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
button,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
title,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}

body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif
}

input,
select,
textarea {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    cursor: pointer;
    text-decoration: none
}

body,
html {
    height: 100%
}

body {
    overflow-x: auto;
    overflow-y: scroll
}

.testStyles {
    overflow-y: hidden
}

.reset-button {
    background: none;
    border: 0;
    outline: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:focus {
    outline: none
}

body.device-mobile-optimized {
    overflow-x: hidden;
    overflow-y: scroll
}

body.device-mobile-optimized:not(.responsive) #SITE_CONTAINER {
    width: 320px;
    overflow-x: visible;
    position: relative;
    margin-left: auto;
    margin-right: auto
}

body.device-mobile-optimized:not(.responsive):not(.blockSiteScrolling) #SITE_CONTAINER {
    margin-top: 0
}

body.device-mobile-optimized>* {
    max-width: 100% !important
}

body.device-mobile-optimized:not(.dont-overflow-hidden-site-root) #site-root {
    overflow-x: hidden;
    overflow-y: hidden
}

@supports not (contain:layout) {
    body.device-mobile-optimized.dont-overflow-hidden-site-root #site-root {
        overflow-x: hidden;
        overflow-y: hidden
    }
}

body.dont-overflow-hidden-site-root #SITE_FOOTER,
body.dont-overflow-hidden-site-root #SITE_HEADER,
body.dont-overflow-hidden-site-root #SITE_PAGES {
    contain: layout
}

body.device-mobile-non-optimized #SITE_CONTAINER #site-root {
    overflow-x: hidden;
    overflow-y: auto
}

body.device-mobile-non-optimized.fullScreenMode {
    background-color: #5f6360
}

body.device-mobile-non-optimized.fullScreenMode #MOBILE_ACTIONS_MENU,
body.device-mobile-non-optimized.fullScreenMode #site-root,
body.device-mobile-non-optimized.fullScreenMode #SITE_BACKGROUND,
body.fullScreenMode #WIX_ADS {
    visibility: hidden
}

body.fullScreenMode {
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

body.fullScreenMode.device-mobile-optimized #TINY_MENU {
    opacity: 0;
    pointer-events: none
}

body.fullScreenMode-scrollable.device-mobile-optimized {
    overflow-x: hidden !important;
    overflow-y: auto !important
}

body.fullScreenMode-scrollable.device-mobile-optimized #masterPage,
body.fullScreenMode-scrollable.device-mobile-optimized #site-root {
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

body.fullScreenMode-scrollable.device-mobile-optimized #masterPage,
body.fullScreenMode-scrollable.device-mobile-optimized #SITE_BACKGROUND {
    height: auto !important
}

body.fullScreenMode-scrollable.device-mobile-optimized #masterPage.mesh-layout {
    height: 0 !important
}

body.blockSiteScrolling {
    position: fixed;
    width: 100%;
    overflow: hidden
}

body.blockSiteScrolling #SITE_CONTAINER {
    margin-top: calc(var(--blocked-site-scroll-margin-top) * -1)
}

body.blockSiteScrolling:not(.responsive) #WIX_ADS {
    margin-top: var(--blocked-site-scroll-margin-top)
}

.fullScreenOverlay {
    z-index: 1005;
    position: fixed;
    left: 0;
    top: -60px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    overflow-y: hidden
}

.fullScreenOverlay>.fullScreenOverlayContent {
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 60px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transform: translateZ(0)
}

[data-mesh-id$=centeredContent],
[data-mesh-id$=form],
[data-mesh-id$=inlineContent] {
    position: relative;
    pointer-events: none
}

[data-mesh-id$=-gridWrapper],
[data-mesh-id$=-rotated-wrapper] {
    pointer-events: none
}

[data-mesh-id$=-gridContainer]>*,
[data-mesh-id$=-rotated-wrapper]>*,
[data-mesh-id$=inlineContent]>:not([data-mesh-id$=-gridContainer]) {
    pointer-events: auto
}

.device-mobile-optimized #masterPage.mesh-layout #SOSP_CONTAINER_CUSTOM_ID {
    -ms-grid-row: 2;
    grid-row: 2;
    grid-area: 2/1/3/2;
    position: relative
}

#masterPage.mesh-layout {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: max-content max-content min-content max-content;
    grid-template-rows: -webkit-max-content -webkit-max-content -webkit-min-content -webkit-max-content;
    grid-template-rows: max-content max-content min-content max-content;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    align-items: start;
    justify-content: stretch
}

#masterPage.mesh-layout #PAGES_CONTAINER,
#masterPage.mesh-layout #SITE_FOOTER-placeholder,
#masterPage.mesh-layout #SITE_FOOTER_WRAPPER,
#masterPage.mesh-layout #SITE_HEADER-placeholder,
#masterPage.mesh-layout #SITE_HEADER_WRAPPER,
#masterPage.mesh-layout #soapAfterPagesContainer,
#masterPage.mesh-layout #soapBeforePagesContainer,
#masterPage.mesh-layout #SOSP_CONTAINER_CUSTOM_ID[data-state~=mobileView] {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row-align: start;
    -ms-grid-column-align: start
}

#masterPage.mesh-layout #SITE_HEADER-placeholder,
#masterPage.mesh-layout #SITE_HEADER_WRAPPER {
    -ms-grid-row: 1;
    grid-row: 1;
    grid-area: 1/1/2/2
}

#masterPage.mesh-layout #PAGES_CONTAINER,
#masterPage.mesh-layout #soapAfterPagesContainer,
#masterPage.mesh-layout #soapBeforePagesContainer {
    -ms-grid-row: 3;
    grid-row: 3;
    grid-area: 3/1/4/2
}

#masterPage.mesh-layout #soapAfterPagesContainer,
#masterPage.mesh-layout #soapBeforePagesContainer {
    width: 100%
}

#masterPage.mesh-layout #PAGES_CONTAINER {
    align-self: stretch
}

#masterPage.mesh-layout main#PAGES_CONTAINER {
    display: block
}

#masterPage.mesh-layout #SITE_FOOTER-placeholder,
#masterPage.mesh-layout #SITE_FOOTER_WRAPPER {
    -ms-grid-row: 4;
    grid-row: 4;
    grid-area: 4/1/5/2
}

#masterPage.mesh-layout #SITE_PAGES,
#masterPage.mesh-layout [data-mesh-id=PAGES_CONTAINERcenteredContent],
#masterPage.mesh-layout [data-mesh-id=PAGES_CONTAINERinlineContent] {
    height: 100%
}

#masterPage.mesh-layout.desktop>* {
    width: 100%
}

#masterPage.mesh-layout #masterPageinlineContent,
#masterPage.mesh-layout #PAGES_CONTAINER,
#masterPage.mesh-layout #SITE_FOOTER,
#masterPage.mesh-layout #SITE_FOOTER_WRAPPER,
#masterPage.mesh-layout #SITE_HEADER,
#masterPage.mesh-layout #SITE_HEADER_WRAPPER,
#masterPage.mesh-layout #SITE_PAGES,
#site-root {
    position: relative
}

#site-root {
    min-height: 100%;
    margin: 0 auto
}

#site-root img:not([src]) {
    visibility: hidden
}

#site-root svg img:not([src]) {
    visibility: visible
}

body:not(.responsive) #site-root {
    width: 100%;
    min-width: var(--site-width)
}

#SITE_CONTAINER {
    position: relative
}

.auto-generated-link {
    color: inherit
}

body:not([data-js-loaded]) [data-hide-prejs] {
    visibility: hidden
}

#SCROLL_TO_BOTTOM,
#SCROLL_TO_TOP {
    height: 0
}

.has-click-trigger {
    cursor: pointer
}

[data-z-counter] {
    z-index: 0
}

[data-z-counter="0"] {
    z-index: auto
}

.wixSiteProperties {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}