:root {
    --color_0: 255, 255, 255;
    --color_27: 128, 24, 36;
    --color_1: 0, 0, 0;
    --color_2: 255, 255, 255;
    --color_3: 237, 28, 36;
    --color_4: 0, 136, 203;
    --color_5: 255, 203, 5;
    --color_6: 114, 114, 114;
    --color_7: 176, 176, 176;
    --color_8: 255, 255, 255;
    --color_28: 191, 36, 54;
    --color_9: 114, 114, 114;
    --color_10: 176, 176, 176;
    --color_11: 47, 46, 46;
    --color_12: 96, 94, 94;
    --color_13: 160, 160, 159;
    --color_14: 182, 182, 182;
    --color_15: 255, 255, 255;
    --color_16: 35, 64, 112;
    --color_17: 82, 116, 172;
    --color_18: 172, 209, 224;
    --color_29: 212, 126, 136;
    --color_19: 214, 234, 243;
    --color_20: 226, 244, 252;
    --color_21: 81, 68, 9;
    --color_22: 162, 135, 18;
    --color_23: 235, 197, 42;
    --color_24: 247, 226, 137;
    --color_25: 251, 237, 176;
    --color_30: 234, 171, 178;
    --color_31: 32, 67, 62;
    --color_32: 64, 134, 125;
    --color_33: 97, 201, 187;
    --color_34: 162, 219, 212;
    --color_35: 196, 237, 232;
    --font_0: normal normal bold 106px/1.4em sacramento, cursive;
    --font_1: normal normal bold 16px/1.4em raleway, sans-serif;
    --font_2: normal normal normal 25px/1.4em raleway, sans-serif;
    --font_3: normal normal bold 120px/1.4em raleway, sans-serif;
    --font_4: normal normal bold 94px/1.4em raleway, sans-serif;
    --font_5: normal normal bold 38px/1.4em sacramento, cursive;
    --font_6: normal normal normal 36px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
    --font_7: normal normal normal 18px/1.4em raleway, sans-serif;
    --font_8: normal normal normal 15px/1.4em raleway, sans-serif;
    --font_9: normal normal normal 14px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    --minViewportSize: 640;
    --color_26: 64, 12, 18;
    --maxViewportSize: 1080
}

.font_0 {
    font: var(--font_0);
    color: rgb(var(--color_15));
    letter-spacing: 0em
}

.font_1 {
    font: var(--font_1);
    color: rgb(var(--color_15));
    letter-spacing: 0em
}

.font_2 {
    font: var(--font_2);
    color: rgb(var(--color_15));
    letter-spacing: 0em
}

.font_3 {
    font: var(--font_3);
    color: rgb(var(--color_15));
    letter-spacing: 0em
}

.font_4 {
    font: var(--font_4);
    color: rgb(var(--color_15));
    letter-spacing: 0em
}

.font_5 {
    font: var(--font_5);
    color: rgb(var(--color_15));
    letter-spacing: 0em
}

.font_6 {
    font: var(--font_6);
    color: rgb(var(--color_14));
    letter-spacing: 0em
}

.font_7 {
    font: var(--font_7);
    color: rgb(var(--color_15));
    letter-spacing: 0em
}

.font_8 {
    font: var(--font_8);
    color: rgb(var(--color_15));
    letter-spacing: 0em
}

.font_9 {
    font: var(--font_9);
    color: rgb(var(--color_15));
    letter-spacing: 0em
}

.font_10 {
    font: var(--font_10);
    color: rgb(var(--color_15));
    letter-spacing: 0em
}

.color_0 {
    color: rgb(var(--color_0))
}

.color_1 {
    color: rgb(var(--color_1))
}

.color_2 {
    color: rgb(var(--color_2))
}

.color_3 {
    color: rgb(var(--color_3))
}

.color_4 {
    color: rgb(var(--color_4))
}

.color_5 {
    color: rgb(var(--color_5))
}

.color_6 {
    color: rgb(var(--color_6))
}

.color_7 {
    color: rgb(var(--color_7))
}

.color_8 {
    color: rgb(var(--color_8))
}

.color_9 {
    color: rgb(var(--color_9))
}

.color_10 {
    color: rgb(var(--color_10))
}

.color_11 {
    color: rgb(var(--color_11))
}

.color_12 {
    color: rgb(var(--color_12))
}

.color_13 {
    color: rgb(var(--color_13))
}

.color_14 {
    color: rgb(var(--color_14))
}

.color_15 {
    color: rgb(var(--color_15))
}

.color_16 {
    color: rgb(var(--color_16))
}

.color_17 {
    color: rgb(var(--color_17))
}

.color_18 {
    color: rgb(var(--color_18))
}

.color_19 {
    color: rgb(var(--color_19))
}

.color_20 {
    color: rgb(var(--color_20))
}

.color_21 {
    color: rgb(var(--color_21))
}

.color_22 {
    color: rgb(var(--color_22))
}

.color_23 {
    color: rgb(var(--color_23))
}

.color_24 {
    color: rgb(var(--color_24))
}

.color_25 {
    color: rgb(var(--color_25))
}

.color_26 {
    color: rgb(var(--color_26))
}

.color_27 {
    color: rgb(var(--color_27))
}

.color_28 {
    color: rgb(var(--color_28))
}

.color_29 {
    color: rgb(var(--color_29))
}

.color_30 {
    color: rgb(var(--color_30))
}

.color_31 {
    color: rgb(var(--color_31))
}

.color_32 {
    color: rgb(var(--color_32))
}

.color_33 {
    color: rgb(var(--color_33))
}

.color_34 {
    color: rgb(var(--color_34))
}

.color_35 {
    color: rgb(var(--color_35))
}

.backcolor_0 {
    background-color: rgb(var(--color_0))
}

.backcolor_1 {
    background-color: rgb(var(--color_1))
}

.backcolor_2 {
    background-color: rgb(var(--color_2))
}

.backcolor_3 {
    background-color: rgb(var(--color_3))
}

.backcolor_4 {
    background-color: rgb(var(--color_4))
}

.backcolor_5 {
    background-color: rgb(var(--color_5))
}

.backcolor_6 {
    background-color: rgb(var(--color_6))
}

.backcolor_7 {
    background-color: rgb(var(--color_7))
}

.backcolor_8 {
    background-color: rgb(var(--color_8))
}

.backcolor_9 {
    background-color: rgb(var(--color_9))
}

.backcolor_10 {
    background-color: rgb(var(--color_10))
}

.backcolor_11 {
    background-color: rgb(var(--color_11))
}

.backcolor_12 {
    background-color: rgb(var(--color_12))
}

.backcolor_13 {
    background-color: rgb(var(--color_13))
}

.backcolor_14 {
    background-color: rgb(var(--color_14))
}

.backcolor_15 {
    background-color: rgb(var(--color_15))
}

.backcolor_16 {
    background-color: rgb(var(--color_16))
}

.backcolor_17 {
    background-color: rgb(var(--color_17))
}

.backcolor_18 {
    background-color: rgb(var(--color_18))
}

.backcolor_19 {
    background-color: rgb(var(--color_19))
}

.backcolor_20 {
    background-color: rgb(var(--color_20))
}

.backcolor_21 {
    background-color: rgb(var(--color_21))
}

.backcolor_22 {
    background-color: rgb(var(--color_22))
}

.backcolor_23 {
    background-color: rgb(var(--color_23))
}

.backcolor_24 {
    background-color: rgb(var(--color_24))
}

.backcolor_25 {
    background-color: rgb(var(--color_25))
}

.backcolor_26 {
    background-color: rgb(var(--color_26))
}

.backcolor_27 {
    background-color: rgb(var(--color_27))
}

.backcolor_28 {
    background-color: rgb(var(--color_28))
}

.backcolor_29 {
    background-color: rgb(var(--color_29))
}

.backcolor_30 {
    background-color: rgb(var(--color_30))
}

.backcolor_31 {
    background-color: rgb(var(--color_31))
}

.backcolor_32 {
    background-color: rgb(var(--color_32))
}

.backcolor_33 {
    background-color: rgb(var(--color_33))
}

.backcolor_34 {
    background-color: rgb(var(--color_34))
}

.backcolor_35 {
    background-color: rgb(var(--color_35))
}

#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):focus,
#SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):focus~.wixSdkShowFocusOnSibling {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff !important;
    z-index: 1
}

[data-mesh-id=SITE_HEADERinlineContent] {
    height: auto;
    width: 100%
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer]>[id="comp-kmvv8eg0"] {
    position: relative;
    margin: 26px 0px 41px calc((100% - 980px) * 0.5);
    left: 276px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer]>[id="comp-k5yf2fy8"] {
    position: relative;
    margin: 0px 0px 58px calc((100% - 980px) * 0.5);
    left: 366px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=SITE_FOOTERinlineContent] {
    height: auto;
    width: 100%
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer]>[id="ibgkg6mo"] {
    position: relative;
    margin: 19px 0px 20px calc((100% - 980px) * 0.5);
    left: 66px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer]>[id="ibt8uwjh"] {
    position: relative;
    margin: 0px 0px 2px calc((100% - 980px) * 0.5);
    left: -203px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer]>[id="ibszoyvs"] {
    position: relative;
    margin: 8px 0px 10px calc((100% - 980px) * 0.5);
    left: 256px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start
}

#comp-kmvv8eg0 {
    width: 429px;
    height: 20px
}

#comp-k5yf2fy8 {
    width: 244px;
    height: 202px
}

#ibgkg6mo {
    width: 856px;
    height: 16px
}

#ibt8uwjh {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    height: 33px
}

#ibszoyvs {
    width: 470px;
    height: 17px
}

#SITE_FOOTER-placeholder {
    height: 90px
}

#masterPage {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px
}

#SITE_HEADER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 50;
    --above-all-in-container: 49
}

#PAGES_CONTAINER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 51;
    --above-all-in-container: 49
}

#SITE_FOOTER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    z-index: calc(var(--pinned-layers-in-page, 0) + 52);
    --above-all-in-container: 10000
}

#SITE_PAGES {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px
}

#masterPage.landingPage #SITE_HEADER {
    display: none
}

#masterPage.landingPage #SITE_FOOTER {
    display: none
}

#masterPage.landingPage #SITE_HEADER-placeholder {
    display: none
}

#masterPage.landingPage #SITE_FOOTER-placeholder {
    display: none
}

#masterPage:not(.landingPage) #PAGES_CONTAINER {
    margin-top: 0px;
    margin-bottom: 0px
}


#comp-kmvv8eg0 {
    height: auto
}

#comp-k5yf2fy8 {
    --contentPaddingLeft: 0px;
    --contentPaddingRight: 0px;
    --contentPaddingTop: 0px;
    --contentPaddingBottom: 0px;
    --height: 202px;
    --width: 244px
}

#ibgkg6mo {
    --menuTotalBordersX: 0px;
    --menuTotalBordersY: 0px;
    --bgDrop: var(--color_15);
    --rd: 0px;
    --shd: none;
    --fnt: var(--font_1);
    --pad: 5px;
    --txt: var(--color_16);
    --trans: color 0.4s ease 0s;
    --txth: var(--color_23);
    --txts: var(--color_23);
    --alpha-bgDrop: 1;
    --alpha-txt: 1;
    --alpha-txth: 1;
    --alpha-txts: 1;
    --boxShadowToggleOn-shd: none
}

#ibt8uwjh {
    --bg: var(--color_23);
    --shd: none;
    --brwt: 0px;
    --brd: var(--color_15);
    --brwb: 0px;
    --alpha-bg: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none
}

#ibszoyvs {
    height: auto
}

#SITE_FOOTER {
    --bg: var(--color_15);
    --shd: none;
    --brwt: 0px;
    --brd: var(--color_15);
    --brwb: 0px;
    --bgctr: var(--color_15);
    --rd: 0px;
    --alpha-bg: 1;
    --alpha-bgctr: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 128, 128, 128;
    position: fixed !important;
    bottom: 0
}

#SITE_PAGES {
    --transition-duration: 700ms
}

#BACKGROUND_GROUP {
    --transition-duration: 700ms
}